body {
  background: #edf0f5;
}

Bordered form
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    border-radius: 10px;
    width: 150%;
    padding: 14px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button { 
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 16px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 150%;
  }

  /* moving the login form */
  input[type=text], input[type=password], button[type=submit] {
    width: 150%;
  }
  .mainDiv {
    padding: 200px;
  }
  .textDiv {
    float: left;
  }
  .imege {
    width: 60%;
  }
  .text{
    margin: 30px;
    margin-top: -20px;
    font-size: 200%;
  }
  .formDiv {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    float: right;
    width: 200;
  }
  .forgotPsw {
    text-align: right;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: orangered;
  }