/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    border-radius: 10px;
    width: 150%;
    padding: 14px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 16px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 150%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: orangered;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 200px;
    float: right;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* forgot password */
  .forgotPsw {
    text-decoration: none;
    /* padding: 14px 16px; */
    text-align: right;
  }

  /* submit button */
  .submitButton {
    width: 100;
    float: right;
    /* padding: 14px 16px;
    margin: 2px 0; */
  }