/* *{
  margin: 0px;
  padding: 0px;
} */
body {
  background: #edf0f5;
}

Bordered form
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    border-radius: 10px;
    width: 150%;
    padding: 14px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button { 
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 16px;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* moving the login form */
  input[type=text], input[type=password], button[type=submit] {
    font-size: 17px;
    width: 100%;
  }
  .mainDiv {
    padding: 200px;
    /* width: 100%; */
  }
  .textDiv {
    float: left;
  }
  .imege {
    width: 60%;
  }
  .text{
    margin: 30px;
    margin-top: -20px;
    font-size: 200%;
  }
  .formDiv {
    width: 40%;
    height: 50%;
    position: relative;
    /* box-shadow: 25px 10px 15px 25px rgba(0,0,0,0.2); */
    /* float: right; */
    margin-left: 60%;
    /* justify-content: center; */
    
    
  }
  .forgotPsw {
    text-align: center;
    padding: 3%;
  }

  .submitButton {
    width: 60%;
    /* padding: 10%; */
    margin-left: 20%;
    margin-top: 8%;
  }
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: orangered;
  }